*{
    margin: 0;
    padding: 0;
}
/* header section start awlad.h */
.header-container{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    margin-top: 20px;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 652px;
}
.header-content .image{
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
}
.header-content .font h1{
    font-size: 48px;
    font-weight: 800px;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-top: 32px;
}
.header-content .font p{
    font-size: 16px;
    font-weight: 400px;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-top: 24px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-content .font button{
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 208px;
    height: 66px;
    background-color: rgb(13, 19, 33);
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 44px;
    text-decoration: none;
}
/* header section start  awlad.h*/
/* why web development start */
#web-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
}
#web-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 80px 97px 80px 97px;
}
#web-content #first h1{
    font-size: 32px;
    font-weight: 800px;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 24px;
}
#web-content #first p{
    font-size: 16px;
    font-weight: 400px;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
}
 #second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    width: 850px;
    height: 240px;
    padding: 48px;
}
#second #child1 h1{
    font-size: 24px;
    font-weight: 700px;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    margin-bottom: 16px;
}
#second #child1 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
}
#second #child1 button{
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    margin-top: 32px; 
}
#second #child2{
    width: 259.56px;
    height: 217.01px;
    margin-left: 99.77px;
}
#third {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: ;
    width: 850px;
    height: 240px;
    margin-top: 32px;
    padding: 48px;

}
#third #child1{
    width: 223.2;
    height: 208.85;
    margin-right: 48.8px;
}
#third #child2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#third #child2 h1{
    font-size: 24px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: rgba(13, 19, 33, 0.7);
    text-align: left;
    width: 477px;
    height: 72px;
}
#third #child2 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
}
#third #child2 button{
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    padding: 12px 20px 12px 20px;
}
#fourth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 48px;
    width: 850px;
    height: 240px;
    margin-top: 32px;
}
#fourth #child1 h1{
    font-size: 24px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: rgba(13, 19, 33, 0.7);
    text-align: left;
    margin-bottom: 16px;
    margin-right: 220px;
}
#fourth #child1 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    margin-bottom: 32px;
}
#fourth #child1 button{
    font-size: 20px;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    padding: 12px 20px 12px 20px;
}
#fourth #child2{
    width: 206.4px;
    height: 187.32px;
}
/* why web development end */
/* My Inspiration start */
.my-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 90px;
}
.my-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my-content .child1 h1{
    font-size: 32px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 24px;
}
.my-content .child1 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 48px;
}
.my-content .child2 iframe{
    width: 1076px;
    height: 550px;
    padding: 32px;
    border-radius: 16px;
}
/* My Inspiration end */
/* My Current Target start */
#target-container{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
    margin-top: 149px;
    margin-bottom: 111px;
}
#target-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#target-content #child1{
    width: 852px;
    height: 115px;
    margin-bottom: 48px;
}
#target-content #child1 h1{
    font-size: 32px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 24px;
}
#target-content #child1 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
}
#child2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 1140px;
    height: 300px;
    bottom: 0;
}
#child2 #child3{
    width: 364px;
    height: 300px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
#child2 #child3 img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
#child2 #child3 h1{
    font-size: 24px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 36px;
    margin-bottom: 8px;
}
#child2 #child3 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 52px;
    margin-bottom: 24px;
}
#child2 #child3 a{
    font-size: 16px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 20px;
}
#child2 #child4{
    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-left: 24px;
    padding: 40px;
}
#child2 #child4 img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
#child2 #child4 h1{
    font-size: 24px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 36px;
    margin-bottom: 8px;
}
#child2 #child4 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 52px;
    margin-bottom: 24px;
}
#child2 #child4 a{
    font-size: 16px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 20px;
}
#child2 #child5{
    width: 364px;
    height: 300px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);;
    margin-left: 24px;
    padding: 40px;
}
#child2 #child5 img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
#child2 #child5 h1{
    font-size: 24px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 36px;
    margin-bottom: 8px
}
#child2 #child5 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 52px;
    margin-bottom: 24px;
}
#child2 #child5 a{
    font-size: 16px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: left;
    width: 284px;
    height: 20px;
}
/* My Current Target end */
/* i need support start */
#need-container{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(../assets/handshake.jpg);
    border-radius: 16px;
    background-position: center;
    l
}
#need-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 48px 64px 48px;
}
#need-content #child1 h1{
    font-size: 32px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 16px;
}
#need-content #child1 p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 24px;
}
#need-content #child2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 684px;
    height: 57px;
}
#need-content #child2 input{
    font-size: 16px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: rgba(13, 19, 33, 0.4);
    text-align: left;
    width: 548px;
    height: 57px;
    margin-top: 24px;
    margin-right: 16px;
    border-radius: 8px;
    border: none;
}
#need-content #child2 button{
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: rgb(13, 19, 33);
    text-align: center;
    width: 120px;
    height: 57px;
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    padding: 17px;
}
/* i need support end */
/* footer section start */
.footer-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    margin-top: 80px;
}
.footet-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:  36px;
    width: 1440px;
    padding: 32px 150px 32px 150px ;
}
.center .child1 h4{
    width: 456px;
    height: 23px;
    font-size: 20px;
    font-weight: 600px;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    color: rgb(13, 19, 33);
    margin-right: 526.99px;
}
.center .child2{
    width: 157.01px;
    height: 36px;
    align-items: left;
    justify-content: flex-start;
}
.controler .child2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/* footer section end */